@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.dosis-bold {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.modal-background {
  background: rgba(0, 0, 0, 0.8); 
}

.card > h3,p {
  pointer-events: none;
}